</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindrome</title>
    
    <!-- css stylesheet -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Palindrome</h1>
    <% for(let i = 0 ; i<word[i].length; i++) {%> 
      <button data-id="<%word[i]._id%>"
      class="removeBtn">X</button>
      <p><%word[i].word %></p>
      <p><%word[i].result %></p>
    <% } %>
    
    <form action="/words" method="POST">
      <label for="word">Enter a Word: </label>
      <input type="text" id="string" placeholder="Word" name="word">
      <button id="submitBtn">Submit</button>
    </form>
    
    <% for(let i = 0 ; i<word[i].length; i++) {%> 
      <p id="results"><%word[i].result%></p>
    <% } %>

    <!-- javascript -->
    <script src="main.js"></script>
  </body>
  </html>
  